.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin-top:40px
}
.fruit1{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-bottom:20px

}
.fruit2{
  display: flex;
  flex-direction: row;
  gap:20px

}